-- PUMS and PUMS_large databases

USE PUMS
GO

BULK INSERT PUMS.PUMS
    FROM '{current}\PUMS.csv'
    WITH
    (
    FIRSTROW = 2,
    FIELDTERMINATOR = ',',  --CSV field delimiter
    ROWTERMINATOR = '\n',   --Use to shift the control to next row
    ERRORFILE = '{current}\PUMS.log',
    TABLOCK
    )
GO

BULK INSERT PUMS.PUMS_large
    FROM '{current}\PUMS_large.csv'
    WITH
    (
    FIRSTROW = 2,
    FIELDTERMINATOR = ',',  --CSV field delimiter
    ROWTERMINATOR = '\n',   --Use to shift the control to next row
    ERRORFILE = '{current}\PUMS_large.log',
    TABLOCK
    )
GO

-- PUMS_pid database

USE PUMS_pid
GO

BULK INSERT PUMS.PUMS
    FROM '{current}\PUMS_pid.csv'
    WITH
    (
    FIRSTROW = 2,
    FIELDTERMINATOR = ',',  --CSV field delimiter
    ROWTERMINATOR = '\n',   --Use to shift the control to next row
    ERRORFILE = '{current}\PUMS_pid.log',
    TABLOCK
    )
GO

-- PUMS_dup database

USE PUMS_dup
GO

BULK INSERT PUMS.PUMS
    FROM '{current}\PUMS_dup.csv'
    WITH
    (
    FIRSTROW = 2,
    FIELDTERMINATOR = ',',  --CSV field delimiter
    ROWTERMINATOR = '\n',   --Use to shift the control to next row
    ERRORFILE = '{current}\PUMS_dup.log',
    TABLOCK
    )
GO

-- PUMS_null database

USE PUMS_null
GO

BULK INSERT PUMS.PUMS
    FROM '{current}\PUMS_null.csv'
    WITH
    (
    FIRSTROW = 2,
    FIELDTERMINATOR = ',',  --CSV field delimiter
    ROWTERMINATOR = '\n',   --Use to shift the control to next row
    ERRORFILE = '{current}\PUMS_null.log',
    TABLOCK,
    KEEPNULLS
    )
GO