[tool.poetry]
name = "smartnoise-synth"
version = "0.3.0"
description = "Differentially Private Synthetic Data"
authors = ["SmartNoise Team <smartnoise@opendp.org>"]
license = "MIT"
packages = [{include="snsynth"}]
homepage = "https://smartnoise.org"
repository = "https://github.com/opendp/smartnoise-sdk"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.7,<3.11"
opacus = "^0.14.0"
pac-synth = "^0.0.5"
smartnoise-sql = "^0.2.5"
diffprivlib = "^0.5.2"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["setuptools", "poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
